{% set delete_form = {
    'form': {
        'id': dt_id,
        '_token': delete_token
    }
} | url_encode %}
<div class="btn-group" style="min-width: 117px">
    <a class="btn btn-default btn-xs" href="{{ path(show_route, { 'id': dt_id }) }}">View</a>
    <a class="btn btn-default btn-xs" href="{{ path(edit_route, { 'id': dt_id }) }}">Edit</a>
    <button type="button" class="btn btn-danger btn-xs button-delete" data-action="{{ path(delete_route) }}" data-form="{{ delete_form }}">Delete</button>
</div>